MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=agora_db
MYSQL_USER=root
MYSQL_PASSWORD=root
JWT_SECRET=change-me-in-env
APP_STORAGE_ROOT=./storage
APP_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8081,http://localhost:19006,exp://127.0.0.1:19000
APP_NETWORK_PUBLIC_BASE_URL=http://192.168.1.2:8080
